<h6>Dashboard</h6>
<h3>Welcome {{user.displayName}}</h3>
<p>Last logged on {{user.lastLoggedOn}}</p>
{{#if journals}}
<p>Your diary entries...</p>
<table class="striped">
  <thead>
    <tr>
      <th>Title</th>
      <th>Created</th>
      <th>Updated</th>
      <th>Status</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    {{#each journals}}
    <tr>
      <td><a href="/journals/{{_id}}"></a>{{title}}</td>
      <td>{{createdOn}}</td>
      <td>{{updatedOn}}</td>
      <td><span class="dash-status">{{status}}</span></td>
      <td></td>
    </tr>
    {{/each}}
  </tbody>
</table>
{{else}}
<p>Let's create your diary entry...</p>
{{/if}}
